<div class="form">
    @if (isLoginMode) {
    <h2 class="form__title">Login</h2>
    <form class="form__form">
        <div class="form__field">
            <label class="form__label" for="username">Username:</label>
            <input class="form__input" type="text" id="username" name="username" required>
        </div>

        <div class="form__field">
            <label class="form__label" for="password">Password:</label>
            <input class="form__input" type="password" id="password" name="password" required>
        </div>

        <button class="form__button form__button--primary" type="submit">Login</button>
        <button class="form__button form__button--secondary" type="button" (click)="isLoginMode = false">Are you new?
            Register here</button>
    </form>
    } @else {
    <h2 class="form__title">Register</h2>
    <form class="form__form">
        <div class="form__field">
            <label class="form__label" for="username">Username:</label>
            <input class="form__input" type="text" id="username" name="username" required>
        </div>

        <div class="form__field">
            <label class="form__label" for="email">Email:</label>
            <input class="form__input" type="email" id="email" name="email" required>
        </div>

        <div class="form__field">
            <label class="form__label" for="password">Password:</label>
            <input class="form__input" type="password" id="password" name="password" required>
        </div>

        <button class="form__button form__button--primary" type="submit">Register</button>
        <button class="form__button form__button--secondary" type="button" (click)="isLoginMode = true">Already have
            an account? Login here</button>
    </form>
    }
</div>